* {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Campton",sans-serif;
}

h1 {
  color: white;
  font-size: 4rem;
  line-height: 4.2rem;
}

h2 {
  font-size: 38px;
  line-height: 1.3;
  margin: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
}

li {
  list-style: none;
}

label {
  cursor: default;
  font-size: 14px;
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px;
}

.logo {
  line-height: 0;
  padding-top: 9px;
}

.btn {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.btn::after {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid #f15f4e;
  background-color: #f15f4e;
  position: absolute;
  top: 34%;
  left: 0;
  z-index: -1;
}

.underline {
  text-decoration: underline;
}

.block__tt {
  display: block;
}

button {
  border: none;
  background-color: #f15f4e;
  margin-left: -2px;
  height: 40px;
  width: 50px;
  cursor: pointer;
}

button:active {
  background-color: #ec2a13;
}

.button {
  display: inline-block;
  border: none;
  font-size: 16px;
  background-color: #f15f4e;
  padding: 14px;
  margin-bottom: 20px;
  font-size: 0.7rem;
}

.button:hover {
  background-color: #ec2a13;
  -webkit-transition: .5s;
  transition: .5s;
}

.button--while {
  background-color: white;
  color: #f15f4e;
  margin-right: 10px;
}

.button--while:hover {
  background-color: #e6e6e6;
}

.button--green {
  margin: 20px 0 0 0;
  color: white;
  background-color: #0e5a61;
}

.button--green:hover {
  background-color: #053744;
}

input, select {
  border: none;
  height: 40px;
  padding-left: 15px;
}

input.header__search {
  width: 260px;
}

input.form__nomal, select {
  width: 330px;
}

@media screen and (max-width: 768px) {
  input.form__nomal, select {
    width: 100%;
  }
}

input[type="number"] {
  margin-right: 8px;
  width: 100px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  input[type="number"] {
    width: 46%;
    margin-right: 0;
  }
}

.baner {
  position: relative;
}

.baner__img {
  width: 100%;
}

.baner__content {
  max-width: 40rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: calc(50% - 8%);
  left: calc((100% - 1180px) / 2);
}

.baner__body {
  margin: 15px 0 15px;
  color: white;
  font-size: 1rem;
}

.baner__order {
  padding: 0 8px;
  background-color: #f15f4e;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
  top: 100%;
}

.baner__order h3,
.baner__order p {
  text-transform: none;
  color: white;
}

.baner__flex {
  padding: 29px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .baner__content {
    left: 20px;
  }
}

.health {
  padding: 8.7em 0 40px;
}

.health__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.health__story {
  background-color: #005a61;
  margin-bottom: 30px;
  width: calc( calc( 100% - (4-1)*30px) / 4);
  overflow: hidden;
}

.health__story:nth-child(4n) {
  margin-right: 0;
}

.health__contents {
  padding: 19px 15px;
}

.health__contents h3 {
  font-size: 19px;
  color: white;
  text-transform: uppercase;
}

.health__contents p {
  margin-top: 15px;
  color: white;
}

.health__body--mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .health {
    padding: 30px 0;
  }
  .health__wrap {
    display: block;
  }
  .health__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .health__contents {
    position: relative;
  }
  .health__body--desktop {
    display: none;
  }
  .health__body--mobile {
    display: block;
  }
  .health__btn {
    position: absolute;
    top: 77%;
  }
}

.view {
  margin-bottom: 57px;
}

.view h2 {
  color: #0e5a61;
}

.view__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 19px 0 45px;
}

.view__left {
  position: relative;
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.view__img {
  display: inline-block;
  width: 96%;
  height: 99%;
}

.view__play {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.view__right {
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.view__bonus {
  position: relative;
  margin-bottom: 22px;
}

.view__sub {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .view__left {
    width: 100%;
  }
  .view__img {
    width: 100%;
  }
  .view__right {
    display: none;
  }
}

.train {
  background-image: url("/images/model/train.jpg");
  background-position: 50%, 50%;
  background-size: cover;
}

.train__global {
  height: 20rem;
  position: relative;
  padding: 30px 0;
}

.train__contents {
  margin: 0 25%;
  color: white;
  text-align: center;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.train__body {
  margin: 8px 0 20px;
}

@media screen and (max-width: 768px) {
  .train {
    background-image: url("/images/model/download.png");
    width: 100%;
  }
  .train__contents {
    margin: 0;
  }
}

.ask {
  padding: 70px 0;
}

.ask__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ask__list {
  margin-bottom: 30px;
  width: calc( calc( 100% - (3-1)*30px) / 3);
}

.ask__list:nth-child(3n) {
  margin-right: 0;
}

.ask__content a {
  color: #0e5a61;
}

.ask__tt {
  font-size: 25px;
}

.ask__img {
  width: 100%;
}

.ask__section {
  margin: 15px 0;
}

.ask__time {
  color: #f15f4e;
}

.ask__mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .ask {
    padding-bottom: 10px;
  }
  .ask__mobile {
    display: block;
    width: 100%;
  }
  .ask__list {
    display: none;
  }
}

.male {
  color: #0e5a61;
}

.male__body {
  margin-top: 30px;
  margin-bottom: 30px;
}

.male__body a {
  color: #0e5a61;
}

@media screen and (max-width: 768px) {
  .male {
    display: none;
  }
}

.subsc {
  padding: 70px 0;
  background-color: #93d5da;
}

.subsc__wrap {
  text-align: center;
}

.subsc__content {
  margin: 0 25%;
  padding: 0 0 30px;
  color: #0e5a61;
}

.form {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__ob:after {
  content: '*';
  color: red;
  margin-left: -2px;
}

.form__left {
  margin-right: 25px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.form__select {
  height: 40px;
  margin: 0;
}

.form__selection {
  margin: 20px 0;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  line-height: 0;
  margin: 0;
}

.form__right {
  text-align: start;
  margin-left: 25px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.form__iterm {
  display: block;
  text-align: start;
  margin-bottom: 30px;
}

.form__nomal {
  margin-top: 4px;
}

@media screen and (max-width: 768px) {
  .form {
    display: block;
  }
  .form__desktop {
    display: none;
  }
  .form__right {
    margin: 0;
  }
  .form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header {
  background-color: #0e5a61;
}

.header__wrap {
  padding: 20px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top a {
  font-size: 13px;
}

.header__top li:not(:last-child) {
  margin: 0 27px 0 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list a {
  padding: 5px 10px;
}

.header__list li :hover {
  background-color: #053744;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__box-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.header__bottom {
  padding-top: 14px;
}

.header__bottom li:not(:last-child) {
  margin-right: 33px;
}

.header__bottom a {
  font-size: 18px;
}

.header__bars {
  display: none;
  text-align: right;
  font-size: 40px;
  color: #f15f4e;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #0e5a61;
    z-index: 999;
  }
  .header__list {
    display: block;
  }
  .header__bars {
    display: block;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-size: 10px;
  font-size: 1.1 em;
  font-weight: 400;
  color: #0a0a0a;
}

footer {
  font-size: 14px;
}

.footer {
  color: #0e5a61;
}

.footer a {
  color: #0e5a61;
  text-decoration: underline;
}

.footer__top {
  padding: 50px 0 30px;
  background-color: #e6e6e6;
}

.footer__top li {
  margin-bottom: 15px;
}

.footer__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #0e5a61 solid 2px;
}

.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__social a {
  display: block;
}

.footer__link {
  width: 36px;
  height: 36px;
  background: #93d5da;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin-bottom: 10px;
}

.footer__link :hover {
  background: #f15f4e;
}

.footer__cell {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.footer__second {
  padding: 15px 0;
  border-bottom: #0e5a61 solid 2px;
  text-align: center;
}

.footer__finally {
  padding: 15px 0;
  text-align: center;
}

.footer__finally a {
  margin-right: 15px;
}

.footer__finally a:last-child {
  margin-left: 0;
}

.footer__finally img {
  height: 50px;
}

.footer__bottom {
  background-color: white;
  padding: 20px 0;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right {
  width: 33.33%;
}

.footer__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right li {
  margin-right: 20px;
}

.footer__end:after {
  content: '/';
  color: #0e5a61;
  margin-left: 4px;
  font-size: 17px;
}

.footer__left {
  width: 33.33%;
}

.fb {
  background: #93d5da url("/images/model/facebook.svg") no-repeat 50% 50%;
  background-size: 10px;
}

.tw {
  background: #93d5da url("/images/model/twitter.svg") no-repeat 50% 50%;
  background-size: 16px;
}

.yt {
  background: #93d5da url("/images/model/youtube.svg") no-repeat 50% 50%;
  background-size: 16px;
}

.ins {
  background: #93d5da url("/images/model/instagram.svg") no-repeat 50% 50%;
  background-size: 16px;
}

.in {
  background: #93d5da url("/images/model/linkedin.svg") no-repeat 50% 50%;
  background-size: 16px;
}
/*# sourceMappingURL=style.css.map */