html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.6;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

a, h1, h2, h3, h4, h5, h6, p {
  color: white;
  text-decoration: none;
}

h1, h2 {
  color: white;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 900;
}

@media screem and (max-width: 768px) {
  h1, h2 {
    font-size: 2rem;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 7px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Campton",sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px;
}

.logo {
  line-height: 0;
  padding-top: 9px;
}

.btn {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.btn::after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid #f15f4e;
  background-color: #f15f4e;
  position: absolute;
  top: 34%;
  left: 0;
  z-index: -1;
}

.underline {
  text-decoration: underline;
}

.block__tt {
  display: block;
}

button {
  border: none;
  background-color: #f15f4e;
  margin-left: -2px;
  height: 40px;
  width: 50px;
  cursor: pointer;
}

button:active {
  background-color: #ec2a13;
}

.button {
  display: inline-block;
  border: none;
  font-size: 16 px;
  background-color: #f15f4e;
  padding: 10px 30px;
}

.button:hover {
  background-color: #ec2a13;
  -webkit-transition: .5s;
  transition: .5s;
}

.button--while {
  background-color: white;
  color: #f15f4e;
}

.button--while:hover {
  background-color: #e6e6e6;
}

.button--green {
  color: white;
  background-color: #0e5a61;
}

.button--green:hover {
  background-color: #053744;
}

@media screen and (max-width: 768px) {
  .button--100 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

input, select {
  border: none;
  height: 40px;
  padding: 5px 15px;
}

input.header__search {
  width: 277px;
}

input.form__nomal, select {
  width: 330px;
}

@media screen and (max-width: 768px) {
  input.form__nomal, select {
    width: 100%;
  }
}

input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #0e5a61;
}

input[type="number"] {
  width: 100px;
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
  max-width: 25%;
}

.baner {
  position: relative;
}

.baner__img {
  width: 100%;
}

.baner__content {
  max-width: 40rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: calc(50% - 8%);
  left: calc((100% - 1180px) / 2);
}

.baner__body {
  margin: 15px 0 15px;
  color: white;
  font-size: 1rem;
}

.baner__order {
  background-color: #f15f4e;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.baner__order h3,
.baner__order p {
  text-transform: none;
  color: white;
}

.baner__flex {
  padding: 29px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .baner__content {
    margin-top: -7px;
    max-width: none;
    width: 100%;
    padding: 20px 20px;
    background-color: #aee0e3;
    position: relative;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .baner__content h1, .baner__content p {
    color: #053744;
  }
  .baner__order {
    position: relative;
  }
  .baner__order div {
    display: block;
  }
}

.health {
  padding: 70px 0;
  /*
	&__contents {
		padding: 19px 15px;
		
	}
    */
}

.health__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.health__story {
  background-color: #0e5a61;
  margin-right: 30px;
  width: calc( calc( 100% - (4-1)*30px + 30px) / 4);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column wrap;
          flex-direction: column wrap;
}

.health__story:nth-child(4n) {
  margin-right: 0;
}

.health__story img {
  max-width: 100%;
}

.health__contents {
  padding: 20px;
}

.health__contents h3 {
  font-size: 19px;
  color: white;
  text-transform: uppercase;
}

.health__contents p {
  margin-top: 15px;
  color: white;
}

.health__text {
  padding-bottom: 25px;
}

.health__body__mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .health {
    padding: 30px 0;
  }
  .health__wrap {
    display: block;
  }
  .health__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .health__story p {
    font-size: 12px;
    margin: 0;
  }
  .health__story h3 {
    font-size: 15px;
    font-weight: 500;
  }
  .health__text {
    padding: 0;
  }
  .health__body__desktop {
    display: none;
  }
  .health__body__mobile {
    display: block;
  }
}

.view {
  margin-bottom: 57px;
}

.view h2 {
  color: #0e5a61;
}

.view__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 19px 0 45px;
}

.view__left {
  position: relative;
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.view__img {
  display: inline-block;
  width: 96%;
  height: 99%;
}

.view__play {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.view__right {
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.view__bonus {
  position: relative;
  margin-bottom: 22px;
}

.view__sub {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .view__left {
    width: 100%;
  }
  .view__img {
    width: 100%;
  }
  .view__right {
    display: none;
  }
}

.train {
  background-image: url("../images/model/train.jpg");
  background-position: 50% 50%;
  background-size: cover;
  padding: 70px 0;
}

.train__global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.train__contents {
  color: white;
  text-align: center;
  width: 70%;
}

.train__body {
  margin: 8px 0 20px;
}

@media screen and (max-width: 768px) {
  .train {
    background-image: url("../images/model/download.png");
    padding: 50px 0;
  }
  .train__contents {
    margin: 0;
    width: 100%;
  }
}

.ask {
  padding: 70px 0;
}

.ask__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ask__list {
  margin-right: 30px;
  width: calc( calc( 100% - (3-1)*30px + 30px) / 3);
}

.ask__list:nth-child(3n) {
  margin-right: 0;
}

.ask__content a {
  color: #0e5a61;
}

.ask__tt {
  font-size: 25px;
}

.ask__img {
  width: 100%;
}

.ask__section {
  margin: 15px 0;
}

.ask__time {
  color: #f15f4e;
}

.ask__mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .ask {
    padding-bottom: 10px;
  }
  .ask__mobile {
    display: block;
    width: 100%;
  }
  .ask__list {
    display: none;
  }
  .ask__first {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .ask__content {
    font-weight: 700;
  }
}

.male {
  padding: 70px 0;
}

.male h2, .male p {
  color: #0e5a61;
}

.male__body {
  margin-top: 30px;
  margin-bottom: 30px;
}

.male__body a {
  color: #0e5a61;
}

@media screen and (max-width: 768px) {
  .male {
    display: none;
  }
}

.subsc {
  padding: 70px 0;
  background-color: #93d5da;
}

.subsc h2 {
  color: #0e5a61;
  margin-bottom: 20px;
}

.subsc p {
  color: #0e5a61;
}

.subsc__wrap {
  text-align: center;
}

.subsc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 30px;
  color: #0e5a61;
}

@media screen and (max-width: 768px) {
  .subsc {
    padding: 50px 0;
  }
  .subsc__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.form {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form label {
  color: #0e5a61;
}

.form__ob:after {
  content: '*';
  font-size: 24px;
  color: red;
  margin-left: 0px;
}

.form__left {
  margin-right: 25px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.form__select {
  height: 40px;
  margin: 0;
}

.form__selection {
  margin: 20px 0;
}

.form__op {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__op label {
  line-height: 1;
}

.form__checkbox {
  border: none;
  width: 25px;
  height: 25px;
  line-height: 0;
  margin: 0 10px 0 0;
}

.form__right {
  text-align: start;
  margin-left: 25px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.form__iterm {
  display: block;
  text-align: start;
  margin-bottom: 30px;
}

.form__nomal {
  margin-top: 4px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .form {
    display: block;
  }
  .form__left {
    margin: 0;
  }
  .form__right {
    margin: 0;
  }
  .form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header {
  background-color: #0e5a61;
  position: relative;
}

.header__wrap {
  padding: 21px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__box-logo {
  line-height: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  margin: 0 14px;
  padding: 0;
}

.header__list li :last-child {
  margin: 0;
}

.header__list li :hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header__top a {
  font-size: 13px;
}

.header__box-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-mobile {
  display: none;
  width: 100%;
  margin-top: 20px;
}

.header__search-mobile input {
  width: 100%;
}

.header__bottom {
  padding-top: 9px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header__bottom a {
  font-size: 18px;
}

.header__bars {
  display: none;
  text-align: right;
  color: #f15f4e;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    background-color: #0e5a61;
    z-index: 999;
    position: fixed;
    top: 75px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
  }
  .header__logo {
    width: 100%;
  }
  .header__box-logo {
    width: 200px;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    width: calc(100% -20px);
    margin: 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #053744;
  }
  .header__list a {
    font-size: 25px;
  }
  .header__top {
    display: block;
  }
  .header__bars {
    display: block;
  }
  .header__box-search {
    display: none;
  }
  .header__search-mobile {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.fa-bars {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  body.is-fixed {
    overflow: hidden;
    position: relative;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-size: 10px;
  font-size: 1.1 em;
  font-weight: 400;
  color: #0a0a0a;
}

footer {
  font-size: 14px;
}

footer p {
  color: #0e5a61;
}

.footer {
  color: #0e5a61;
}

.footer a {
  color: #0e5a61;
  text-decoration: underline;
}

.footer__top {
  padding: 50px 0 30px;
  background-color: #e6e6e6;
}

.footer__top li {
  margin-bottom: 15px;
}

.footer__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #0e5a61 solid 2px;
}

.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__social a {
  display: block;
}

.footer__link {
  width: 36px;
  height: 36px;
  background: #93d5da;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin-bottom: 10px;
}

.footer__link :hover {
  background: #f15f4e;
}

.footer__cell {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.footer__second {
  padding: 15px 0;
  border-bottom: #0e5a61 solid 2px;
  text-align: center;
}

.footer__finally {
  padding: 15px 0;
  text-align: center;
}

.footer__finally a {
  margin-right: 15px;
}

.footer__finally a:last-child {
  margin-left: 0;
}

.footer__finally img {
  height: 50px;
}

.footer__bottom {
  background-color: white;
  padding: 20px 0;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right {
  width: 33.33%;
}

.footer__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right li {
  margin-right: 20px;
}

.footer__end:after {
  content: "/";
  color: #0e5a61;
  margin-left: 4px;
  font-size: 17px;
}

.footer__left {
  width: 33.33%;
}

@media screen and (max-width: 768px) {
  .footer__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__cell {
    width: 100%;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 auto;
  }
  .footer__cell:nth-child(2), .footer__cell:nth-child(3) {
    width: 50%;
  }
  .footer__social {
    margin: 20px 0;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-bottom: 2px solid #053744;
  }
  .footer__social a {
    margin: 0 12px;
  }
  .footer__cell:nth-child(1), .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__cell:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__cell:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__cell:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer__cell:nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .footer__social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__second {
    text-align: start;
  }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.fb {
  background: #93d5da url("../images/model/facebook.svg") no-repeat 50% 50%;
  background-size: 10px;
}

.tw {
  background: #93d5da url("../images/model/twitter.svg") no-repeat 50% 50%;
  background-size: 16px;
}

.yt {
  background: #93d5da url("../images/model/youtube.svg") no-repeat 50% 50%;
  background-size: 16px;
}

.ins {
  background: #93d5da url("../images/model/instagram.svg") no-repeat 50% 50%;
  background-size: 16px;
}

.in {
  background: #93d5da url("../images/model/linkedin.svg") no-repeat 50% 50%;
  background-size: 16px;
}
/*# sourceMappingURL=style.css.map */