.header {
    background-color: $green;
    &__wrap {
        padding: 20px 0 25px;
        display: flex;
        justify-content: space-between;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        a {
            font-size: 13px;
        }
        li:not(:last-child) {
            margin: 0 27px 0 0;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          padding: 5px 10px;
        }

        & li :hover {
            background-color: $green-hover;
            border-radius: 5px;
            transition: .5s;
        }
    }

    &__box-search {
        display: flex;
        margin-left: 30px;
    }

    &__bottom {
        padding-top: 14px;
        li:not(:last-child) {
            margin-right: 33px;
        }
        a {
            font-size: 18px;
        }
    }

    &__bars {
        display: none;
        text-align: right;
        font-size: 40px;
        color: $orig-bgr;
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {
        &__menu {
            display: none;
            flex-direction: column;
            text-align: center;
            background-color: $green;
            z-index: 999;
        }

        &__list {
            display: block;
        }

        &__bars {
            display: block;
        }
    }
}
