.header {
    background-color: $green;
    position: relative;
    &__wrap {
        padding: 21px 0;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__box-logo {
        line-height: 0;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & li {
            margin: 0 14px;
            padding: 0;
        }
        & li :last-child {
            margin: 0;
        }
        & li :hover {
            text-decoration: underline;
            transition: 0.3s;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        a {
            font-size: 13px;
        }
        order: 2;
    }

    &__box-search {
        display: flex;
    }
    &__search-mobile {
        display: none;
        width: 100%;
        margin-top: 20px;
        input {
            width: 100%;
        }
    }

    &__bottom {
        padding-top: 9px;
        order: 1;
        a {
            font-size: 18px;
        }
    }

    &__bars {
        display: none;
        text-align: right;
        color: $orig-bgr;
        cursor: pointer;
        // right: 0%;
        // top: 0;
    }

    @media screen and (max-width: 768px) {
        &__menu {
            display: none;
            // display: flex;
            flex-direction: column;
            text-align: start;
            background-color: $green;
            z-index: 999;
            position: absolute;
            top: 144px;
            left: 0;
            width: 100%;
            // height: 100%;
            overflow-y: scroll;
        }

        &__logo {
            width: 70%;
        }

        &__list {
            display: block;
            li {
                width: calc( 100% -20px );
                margin: 0 20px;
                padding-bottom: 15px;
                border-bottom: 1px solid $green-hover;
            }
            a {
                font-size: 25px;
            }
        }
        &__top {
            display: block;
        }

        &__bars {
            display: block;
        }
        &__box-search {
            display: none;
        }
        &__search-mobile {
            display: block;
            display: flex;
        }
    }
}
.fa-bars {
    font-size: 30px;
}
