.baner {
	position: relative;
	&__img {
		width: 100%;
		// height: 548px;
	}

	&__content {
		max-width: 40rem;
		transform: translateY(-50%);
		position: absolute;
		top: calc(50% - 8%);
		left: calc((100% - #{$container-width}) / 2);
	}

	&__body {
		margin: 15px 0 15px;
		color: white;
		font-size: 1rem;
	}

	&__order {
		h3,
		p {
			text-transform: none;
			color: $white;
		}
		background-color: $orig-bgr;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}

	&__flex {
		padding: 29px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media screen and (max-width:768px) {
		&__content {
			margin-top: -7px;
			max-width: none;
			width: 100%;
			padding: 20px 20px;
			background-color: #aee0e3;
			position: relative;
			left: 0;
			transform: none;
			h1,p {
				color: $green-hover;
			}
		}
		&__order {
			position: relative;
			div {
				display: block;
			}
		}
	}
}
