.health {
	padding: 8.7em 0 40px;

	&__wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	&__story {
		background-color: $green-brg;
		@include column(4);
		overflow: hidden;
		// @include grid(4, 30px);
	}

	&__contents {
		padding: 19px 15px;
		h3 {
			font-size: 19px;
			color: $white;
			text-transform: uppercase;
		}
		p {
			margin-top: 15px;
			color: $white;
		}
	}

	&__body--mobile {
		display: none;
	}

	@media screen and (max-width: 768px) {
		&{
			padding: 30px 0;
		}
		&__wrap {
			display: block;
		}
		&__story {
			display: flex;
			width: 100%;
		}
		&__contents {
			position: relative;
		}
		&__body--desktop{
			display: none;
		}
		&__body--mobile {
			display: block;
		}
		&__btn {
			position: absolute;
			top: 77%;
		}
	}
}
