.subsc {
    padding: 70px 0;
    background-color: $blue--white;
    h2 {
        color: $green;
        margin-bottom: 20px;
    }
    p {
        color: $green;
    }
    &__wrap {
        text-align: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0 0 30px;
        color: $green;
    }
    @media screen and (max-width:768px) {
        & {
            padding: 50px 0;
        }

        &__content {
            justify-content: start;
        }
    }
}

.form {
    font-size: 14px;
    display: flex;
    text-align: start;
    justify-content: center;
    label {
        color: $green;
    }

    &__ob:after {
        content: '*';
        font-size: 24px;
        color: red;
        margin-left: 0px;

    }

    &__left {
        margin-right: 25px;
        order: 1;
    }

    &__select {
        height: 40px;
        margin: 0;
    }

    &__selection {
        margin: 20px 0;
    }

    &__op {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        label {
            line-height: 1;
        }
    }
    
    &__checkbox {
        border: none;
        width: 25px;
        height: 25px;
        line-height: 0;
        margin: 0 10px 0 0;
    }

    &__right {
        text-align: start;
        margin-left: 25px;
        order: 2;
    }

    &__iterm {
        display: block;
        text-align: start;
        margin-bottom: 30px;
    }

    &__nomal {
        margin-top: 4px;
        margin-right: 10px;
    }

    @media screen and (max-width:768px) {

        & {
            display: block;
        }
        
        // &__desktop {
        //     display: none;
        // }

        &__left {
            margin: 0;
        }
        &__right {
            margin: 0;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
        }
    }
}