input, select {
  border: none;
  height: 40px;
  padding:5px 15px;
}

input.header__search {
    width: 277px;
}

input.form__nomal, select {
    width: 330px;
    @media screen and (max-width:768px) {
        width: 100%;
    }
}

input[type = text] {
    box-sizing: border-box;
    color: $green;
}

input[type="number"] {
    width: 100px;
    height: 40px;
    flex: 1;
    margin-right: 0;
    max-width: 25%;
//     @media screen and  (max-width:768px) {
//         width: 33%;
//     }
}


