.container {
    margin: 0 auto;
    max-width: $container-width;
    padding-left: 20px;
}

.logo {
    line-height: 0;
    padding-top: 9px;
}

.btn {
    margin-top: 30px;
    text-align: center;
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        border: 1px solid $orig-bgr;
        background-color: $orig-bgr;
        position: absolute;
        top: 34%;
        left: 0;
        z-index: -1;
    }
}

.underline {
    text-decoration: underline;
}

.block__tt {
    display: block;
}
